body {
  background: rgb(204,204,204); 
}

section {
  border: 1px solid red;
  height: 297mm;
}

.page {
  font-size: 15px;
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  width: 210mm;
  min-height: 297mm;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body, .page {
    margin: 0;
    box-shadow: 0;
    width: 210mm;
    height: 297mm;    
  }

  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
